*{
    box-sizing: border-box;
    margin:0px;
    padding:0px
}

body{
    z-index: 1;
    height: 100vh;
    width:100%;
    background-color: beige;
}
.header{ 
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
.foot{
    grid-area: footer;
    height:7vh;
    background-color: antiquewhite;
    text-align: center;
    position: relative;
    padding-top: 20px;
    font-weight: bold;
}
.logo,.cart{
    height:45px;
    width:45px;
}
.buttons{
    display:flex;
}
#loginModal{
    display: none;
    z-index: 2;
    position: absolute;
    top: 40%;
    left:40%;
    width: 20%; /* Full width */
    height: 15%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,2); /* Black w/ opacity */
    border-radius: 20px;
    box-shadow: 2px 2px;
}
.username,.password,.login{
    margin:15px;
    border-radius: 3px;
}
.loginBtn,.changeThemeBtn,.cart{
    border-radius: 3px;
    margin:1px;
}
.theme{
    background-color: rgb(246, 201, 143);;
    /* color: white; */
}
#products{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px
}
.product{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:250px;
    width:220px;
    background-color: rgb(245, 220, 206);
    box-shadow: 20px 20px 20px;
    border-radius: 25px;
}
.product>img{
    height:100px;
    width: 120px;
    margin-top: 3px;
}
.product>p{
    text-align: center;
    margin: 7px;
}
.product>button{
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(250, 111, 111);
    font-weight: bold;
    width: 80px;
    cursor: pointer;
}
#counter{
    background-color: rgb(250, 111, 111);;
    font-weight: bold;
    margin-top:0%;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    text-align: center;
    margin-left:-10px;
    border: 1px solid black

}
.productModal{
    position: absolute;
    display:none;
    left: 40%;
    top: 40%;
    height: 100px;
    width: 100px;
    background-color: aqua;
}
